[Unit]
Description=Homepage
Requires=network-online.target
After=network-online.target
Requires=var-lib-homepage.mount
After=var-lib-homepage.mount

[Container]
# Image
AutoUpdate=registry
Image=homepage.image

# Network
HostName=%N.%H
PublishPort=3000:3000

# Security
User=979
Group=979
NoNewPrivileges=yes
DropCapability=all

# Configuration
# Prevents some kinds of attacks on API server.
Environment=HOMEPAGE_ALLOWED_HOSTS=homepage.jdmarble.net
# Do not log to the (RO) config directory.
Environment=LOG_TARGETS=stdout
Volume=/etc/homepage:/app/config:ro,z

[Service]
# Restart on crash
Restart=always
# Restart 10 seconds after the first failure.
RestartSec=10

[Install]
WantedBy=default.target
