[Unit]
Description=Jellyseerr
Requires=network-online.target
After=network-online.target

[Container]
# Image
AutoUpdate=registry
Image=jellyseerr.image

# Network
HostName=%N.%H
PublishPort=5055:5055

# Security
User=502
Group=502
ReadOnly=yes
NoNewPrivileges=yes
DropCapability=all

# Storage
Volume=/var/lib/jellyseerr:/app/config:Z

[Service]
# Restart on crash
Restart=always
# Restart 10 seconds after the first failure.
RestartSec=10

[Install]
WantedBy=default.target
