[Unit]
Description=Jellyfin
Requires=network-online.target
After=network-online.target
Requires=var-mnt-media.mount
After=var-mnt-media.mount
Requires=var-lib-jellyfin.mount
After=var-lib-jellyfin.mount

[Container]
# Image
AutoUpdate=registry
Image=jellyfin.image

# Network
HostName=%N.%H
# Needs host networking to be able to respond to broadcast messages for discovery.
Network=host
# Sets the response to broadcast for discovery.
Environment=JELLYFIN_PublishedServerUrl=https://jellyfin.jdmarble.net

# Security
User=977
Group=977
ReadOnly=yes
NoNewPrivileges=yes
DropCapability=all

AddDevice=/dev/dri

# Storage
Volume=/var/lib/jellyfin:/config:Z
Volume=/var/mnt/media:/media:ro,z
Volume=/var/tmp/jellyfin-cache:/cache:Z

[Service]
# Restart on crash
Restart=always
# Restart 10 seconds after the first failure.
RestartSec=10

[Install]
WantedBy=default.target
