[Unit]
Description=Radarr
Requires=network-online.target
After=network-online.target

[Container]
# Image
AutoUpdate=registry
Image=radarr.image

# Network
HostName=%N.%H
PublishPort=7878:7878

# Security
User=504
Group=504
GroupAdd=978
ReadOnly=yes
NoNewPrivileges=yes
DropCapability=all

# Storage
Volume=/var/lib/radarr:/radarr/etc:Z
Volume=/var/mnt/media:/download:z
Tmpfs=/tmp:rw,mode=1777

[Service]
# Restart on crash
Restart=always
# Restart 10 seconds after the first failure.
RestartSec=10

[Install]
WantedBy=default.target
