[Unit]
Description=Config mount
After=network.target
Wants=network-online.target

[Mount]
What=unas-pro.jdmarble.net:/var/nfs/shared/jellyfin_config
Where=/var/lib/jellyfin
Type=nfs
Options=auto

[Install]
WantedBy=multi-user.target
