[Unit]
Description=Media mount

[Mount]
# Default to bind mounting to `/var/lib/media` on the system disk.
# You probably want to override this to point to a large disk or NAS.
What=/var/lib/media
Where=/var/mnt/media
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
